.to-center-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen-height {
    height: 80vh;
}

/* .to-center-child {
    justify-content: center;
    align-items: center;
} */