<div class="custom-bottom-navbar bottomNav-shadow">
  <div class="container-fluid">
    <nav class=" icon-inactive" >
      <a [routerLink]="['/body-home']">
        <span class="fa fa-user-plus icon-inactive icon-size"></span>
        <span class="bottom-navbar-text">註冊</span>    
      </a>
      <a href="#">
        <span class="fab fa-google-play icon-inactive icon-size"></span>
        <span class="bottom-navbar-text">娛樂</span>    
      </a>
      <a [routerLink]="['/queue']" routerLinkActive="active">
        <span class="fa fa-hand-lizard icon-active icon-size"></span>
        <span class="bottom-navbar-text icon-active">抽號</span>    
      </a>
      <!-- <a href="#">
        <span class="fa fa-map icon-inactive icon-size"></span>
        <span class="bottom-navbar-text">附近地標</span>
      </a> -->
      <a href="#">
        <span class="fa fa-cog icon-inactive icon-size"></span>
        <span class="bottom-navbar-text">設定</span>
      </a>
      <div>
        <li class="fa fa-bars icon-inactive icon-size "
        id="wFont"></li>
      </div>
    </nav>
  </div>
</div>