.icon-inactive{
    color:rgba(255, 255, 255, 0.76);
}
.icon-inactive :active{
  color:#FFFFFF !important;
}
.icon-active{
    color:#FFFFFF;
}

.custom-bottom-navbar {
    background-image: linear-gradient(80deg, #38489C, #337AB7);
    /* box-shadow: 0 -1px 2px rgba(10, 219, 97, 0.3); */
    height: 56px;
    bottom: 0;
    margin-bottom: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 2030;
}

.custom-bottom-navbar nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: stretch;
}

.custom-bottom-navbar nav a{
  padding-left:12px;
  padding-right:12px;
  margin-top: 12px;
  color: inherit;
  text-decoration: none;
}

.custom-bottom-navbar nav a:hover {
  text-decoration: none;
}

.custom-bottom-navbar nav a span {
  display: block;
  text-align: center;
}

.custom-bottom-navbar > .icon-size {
  /* font-size: 1.5em; */
  font-size:24px;
}

.custom-bottom-navbar > nav >div {
  position: relative;
}

#wFont{
  margin-top:16px;
  font-size: 24px;
}

.custom-bottom-navbar .bottom-navbar-text {
  padding-bottom: 0;
  /* font-size: .85em; */
  font-size: 12px;
  margin-bottom:12px;
}

.bottomNav-shadow{
  box-shadow:
    0 -6px 10px 0 rgba(0, 0, 0, 0.14),
    0 -1px 18px 0 rgba(0, 0, 0, 0.12),
    0 -3px 5px -1px rgba(0, 0, 0, 0.2);
}
